<section class="myPortfolio scrollspy" id="portfolio">
<div class="tintSectionP">
<div class="container center">
    <div class="row">
        <div class="col s12 left white-text">
            <h5 class="portfolioTitle">PORTFOLIO</h5>
        
        <div class="portCon center">
     {{!-- <div class="col s4 m3 card">
        <div class="card-image">
            <a href="https://inventory3.herokuapp.com/UserInventory" target="_blank">
            <img src="assets/images/inventoryhome.png" alt="Joshua deLorimier Inventory"></a>
        </div>
        <div class="card-content white-text black">
            <h5>Inventory:</h5>
                <span>MERN stack application. Inventory allows you to build, save, and share
                outfits with your friends!</span>
            </div>
            <div class="card-action">
                <a href="https://github.com/Jdelorim/project3lastditch" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Github Repository">code</i></a>
                <a href="https://inventory3.herokuapp.com/UserInventory" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
            </div>
        </div> --}}
       <div class="col s4 m3 card">
        <div class="card-image">
            <a href="https://wall2wall2-jd.herokuapp.com/" target="_blank">
            <img src="assets/images/wall2wall.png" alt="Joshua deLorimier Muppets"></a>
        </div>
        <div class="card-content white-text black">
            <h5>Wall to Wall depot</h5>
                <span>
                   Wall to Wall Custom Design Management hired me to engineer an online ordering system for their cabinet products. 
                </span>
                </div>
            <div class="card-action">
                <a href="https://github.com/Jdelorim/wall2wall2" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Github Repository">code</i></a>
                <a href="https://wall2wall2-jd.herokuapp.com/" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
            </div>
        </div>
      {{!-- <div class="col s4 m3 card">
        <div class="card-image">
            <a href="https://muppetstrivia.herokuapp.com/" target="_blank">
            <img src="assets/images/muppets2.png" alt="Joshua deLorimier Muppets"></a>
        </div>
        <div class="card-content white-text black">
            <h5>Muppets Trivia</h5>
                <span>
                    A timed ten question muppets trivia game. Features a database for usernames and high score. 
                    Programmed mostly in vanilla JavaScript
                </span>
                </div>
            <div class="card-action">
                <a href="https://github.com/Jdelorim/TriviaGame" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Github Repository">code</i></a>
                <a href="https://muppetstrivia.herokuapp.com/" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
            </div>
        </div> --}}

        <div class="col s4 m3 card">
            <div class="card-image">
                <a href="https://jd-memory-react.herokuapp.com/" target="_blank" alt="Joshua deLorimier React Memory Game">
                <img src="assets/images/newExpanse.png"></a>
            </div>
            <div class="card-content white-text black">
                <h5>Memory Game:</h5>
                <span>React.js front-end "The Expanse" themed memory game.</span> 
            </div>
            <div class="card-action">
                <a href="https://github.com/Jdelorim/memory-react" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Github Repository">code</i></a>
                <a href="https://jd-memory-react.herokuapp.com/" target="_blank"><i class="material-icons tooltipped"
                data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
            </div>
        </div> 

          <div class="col s4 m3 card">
            <div class="card-image">
            <a href="https://digitalartsscraper.herokuapp.com/" target="_blank">
            <img src="assets/images/digitalArtsScraper.png" alt="Joshua deLorimier Digital Arts Scraper"></a>
            </div>
            <div class="card-content white-text black">
                <h5>Digital Arts Scraper:</h5>
                    <span>Full Stack application that let's you save scraped articles from Digital Arts
                        magazine.</span> 
                    </div>
                    <div class="card-action">
                        <a href="https://github.com/Jdelorim/DigitalArtsScraper" target="_blank"><i class="material-icons tooltipped"
                            data-position="bottom" data-tooltip="Link To Github Repository">code</i></a>
                     <a href="https://digitalartsscraper.herokuapp.com/" target="_blank"><i class="material-icons tooltipped"
                            data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

</section>