<!-- Navbar -->
<section class="myNavBar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Joshua deLorimier</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">ABOUT ME</a></li>
                        <li><a href="#">PORTFOLIO</a></li>
                        <li><a href="#">RESUME</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>
<!-- About Me -->
<section class="myAboutMe">
    <div class="tintSectionAbout">
    <div class="container">
        <div class="row">
            <div class="col s12 left white-text scrollspy" id="aboutMe">
                <h5 class="aboutTitle">ABOUT ME</h5>
                </div>
                <div class="col s12 white-text" id="aboutMe">
                    <div class="textContainer">
                    <img class="profileImg" src="./assets/images/joshpic1.jpg" height="150" width="150" alt="Joshua delorimier Profile Picture">
                    <p class="flow-text">
                    I am a Full Stack Web Developer specializing in M.E.R.N. stack applications.
                    Proficient in using current Web Development technologies such as: HTML5, CSS, Javascript, React.js,
                    Express.js, Node.js, Handlebars.js, and jQuery. Excels using database technologies such as MongoDB, Firebase, and SQL frameworks such as MySQL.
                    A graduate of the University of Pennsylvania LPS Coding Bootcamp, completion of the rigorous school
                    program proves ability to meet deadlines as well as great comprehension to learn new technologies on the
                    fly. Interested in using computer science to make art and games. In the past has been accomplished
                    realtime video jockey
                    and new media designer. He has performed his artwork with some of the worlds top musical acts and
                    DJ’s. He has lectured three times at NYU Tisch School of the Arts on the subject of creating real time
                    visuals with code.
                    Joshua looks forward to using his skills with new clients and employers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>