<!-- Navbar -->
<section class="myNavBar">
    <div class="navbar-fixed z-depth-0 scrollspy" id="main">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#main" class="brand-logo">Joshua deLorimier</a>
                    <div class="left">
                        <a href="#" class="sidenav-trigger" data-target="mobile-links">
                            <i class="material-icons">menu</i>
                        </a>
                    </div>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="waves-effect waves-light" href="#aboutMe">ABOUT ME</a></li>
                        <li><a class="waves-effect waves-light" href="#portfolio">PORTFOLIO</a></li>
                        <li><a class="waves-effect waves-light" href="https://docs.google.com/document/d/1FxnQd-W4RZT8f30IT65FQwe7Gzf7hySp52fSGDuEgso/edit?usp=sharing"
                                target="_blank">RESUME</a></li>
                        <li><a class="waves-effect waves-light" href="#contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-links">
        <a href="#main" class="brand-logo">Joshua deLorimier</a>
        <li><a class="white-text waves-effect waves-light" href="#aboutMe">ABOUT ME</a></li>
        <li><a class="white-text waves-effect waves-light" href="#portfolio">PORTFOLIO</a></li>
        <li><a class="white-text waves-effect waves-light" href="https://docs.google.com/document/d/1FxnQd-W4RZT8f30IT65FQwe7Gzf7hySp52fSGDuEgso/edit?usp=sharing" target="_blank">RESUME</a></li>
        <li><a class="white-text waves-effect waves-light" href="#contact">CONTACT</a></li>
    </ul>
</section>
<!--introParrallax-->
<div class="parallax-container">
    <div class="valign-wrapper h1">
        <h1 class="white-text overlay center-align z-depth-4 grey darken-3" id="fullStack">Full Stack Developer</h1>
    </div>
    <div class="parallax"><img class="pAbout" src="./assets/images/compPictintG.png">
    </div>
    </div>
    
    <!-- About Me -->
<section class="myAboutMe scrollspy" id="aboutMe">
     <div class="tintSectionAbout">
        <div class="container">
            <div class="row">
                <div class="col s12 left white-text">
                    <h5 class="aboutTitle">ABOUT ME</h5>
                    <div class="textContainer">
                        <img class="profileImg" src="./assets/images/joshwebpic.png" width="100" alt="Joshua delorimier Profile Picture">
                        <p class="flow-text">
                                I am a Full Stack Web Developer specializing in M.E.R.N. stack applications.
                                Proficient in using current Web Development technologies such as: HTML5, CSS, Javascript,
                                React.js,
                                Express.js, Node.js, Handlebars.js, and jQuery. Excels using database technologies such as
                                MongoDB, Firebase, and SQL frameworks such as MySQL.
                                A graduate of the University of Pennsylvania LPS Coding Bootcamp, completion of the
                                rigorous school
                                program proves ability to meet deadlines as well as great comprehension to learn new
                                technologies on the
                                fly. Interested in using computer science to make art and games. In the past has been
                                accomplished
                                realtime video jockey
                                and new media designer. He has performed his artwork with some of the worlds top musical
                                acts and
                                DJ’s. He has lectured three times at NYU Tisch School of the Arts on the subject of
                                creating real time
                                visuals with code.
                                Joshua looks forward to using his skills with new clients and employers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- parallax icons -->
<div class="parallax-container">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <div class="iconHolder">
                    <em class="icon-html5"></em>
                    <em class="icon-css-alt"></em>
                    <em class="icon-bootstrap"></em>
                    <em class="icon-sass-alt"></em>
                    <em class="icon-jquery"></em>
                    <em class="icon-react"></em>
                    <em class="icon-nodejs"></em>
                    <em class="icon-express"></em>
                    <em class="icon-csharp"></em>
                    <em class="icon-java"></em>
                    <em class="icon-mongodb"></em>
                    <em class="icon-mysql"></em>
                    <em class="icon-webpack"></em>
                    <em class="icon-github-circle"></em>
                    <em class="icon-heroku"></em>
                    <em class="icon-photoshop"></em>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img class="pAbout" src="./assets/images/abstract-architecture-building-207153.png">
    </div>
</div>

<!-- portfolio -->
<section class="myPortfolio scrollspy" id="portfolio">
    <div class="tintSectionP">
        <div class="container">
            <div class="row">
                <div class="col s12 white-text">
                    <h5 class="portfolioTitle">PORTFOLIO</h5>
                    <div class="carousel">
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image">
                                    <img src="assets/images/inventoryhome.png">
                                </div>
                                <div class="card-content white-text black">
                                    <h5>Inventory:</h5>
                                    A MERN stack application. Inventory allows you to build, save, and share
                                    outfits with your friends!
                                </div>
                                <div class="card-action">
                                    <a href="https://github.com/Jdelorim/project3lastditch"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Git Repo">code</i></a>
                                    <a href="https://inventory3.herokuapp.com/UserInventory"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image">
                                    <img src="assets/images/expanseMemoryfixed.png">
                                </div>
                                <div class="card-content white-text black">
                                    <h5>Memory Game:</h5>
                                    React.js front-end "The Expanse" themed memory game.
                                </div>
                                <div class="card-action">
                                    <a href="https://github.com/Jdelorim/memorygame"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Git Repo">code</i></a>
                                    <a href="https://jdelorim.github.io/memorygame/"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image">
                                    <img src="assets/images/digitalArtsScraper.png">
                                </div>
                                <div class="card-content white-text black">
                                    <h6> Digital Arts Scraper:</h6>
                                    Full Stack application that let's you save scraped articles from Digital Arts
                                    magazine.
                                </div>
                                <div class="card-action">
                                    <a href="https://github.com/Jdelorim/DigitalArtsScraper"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Git Repo">code</i></a>
                                    <a href="https://digitalartsscraper.herokuapp.com/"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-image">
                                    <img src="assets/images/friendFinder.png">
                                </div>
                                <div class="card-content white-text black">
                                    <h6>Friend Finder:</h6>
                                    A Node/Express/MySQL web application that pairs you with your perfect match!
                                </div>
                                <div class="card-action">
                                    <a href="https://github.com/Jdelorim/Friend_Finder"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Git Repo">code</i></a>
                                    <a href="https://friend-finder-jjdelorimier.herokuapp.com/"><i class="material-icons tooltipped"
                                            data-position="bottom" data-tooltip="Link To Deployed Site">web</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- parallax last-->
<div class="parallax-container">
    <div class="parallax responsive-image"><img class="pAbout" src="./assets/images/server.jpg">
    </div>
</div>
<!-- Contact -->
<section class="myContact scrollspy" id="contact">
    <div class="tintSectionContact">
        <div class="container">
            <div class="row">
                <div class="col s12 left white-text">
                    <h5 class="contactTitle">CONTACT ME</h5>
                        <div class="contact-container">
                            <h6>Joshua deLorimier</h6>
                            <ul id="jemail">Email:<a href="mailto: joshuadelorimier@gmail.com"> JoshuadeLorimier@gmail.com</a></ul>
                            <ul id="jphone">Phone: 302-494-3242</ul>
                            <ul id="jloc">Location: Philadelphia,PA 19122</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="myFooter">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h5>&copy;Joshua deLorimier 2018</h5>
                </div>
                <div class="col s6">
                    <h5><a href="http://www.trashtrashvisuals.com" target="_blank"><i class="material-icons tooltipped"
                            data-position="bottom" data-tooltip="Visit My New Media Art Page" id="trashtrash">deletedelete</i></a>
                    <h5>
                </div>
            </div>
        </div>
        </div>
    </footer>
</section>